<form action="/login" accept-charset="UTF-8" method="post" class="login-form-wrap">
    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token">
    <label class="form-label" for="session_username">Username</label> <br>
    <input class="form-input" type="text" name="session[username]" id="session_username">

    <input type="submit" name="commit" value="Log in" class="form-btn" data-disable-with="Log in">
</form>
