<div class="wrapper">
  <div class="left">
    <div class="left-inner">
<div>
        <i class="fa fa-search"></i>
        Follow your favorite books.
      </div>
      <div>
        <i class="fa fa-heart"></i>
        Hear what people are reading about.
      </div>
      <div>
        <i class="fa fa-comment"></i>
        Join the conversation.
      </div>
    </div>  
  </div>
  <div class="right right-signup">
    <div class="form-wrap">
      <h2>Sign Up</h2>
      <form class="new_user" id="new_user" enctype="multipart/form-data" action="/signup" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="8MApuPiweRx/X4yMzJj7ic3g/t3f3/JD2OL9+3/wdS31qQkgBWCcV6pihEwQWmKBPi+Y1qAY0GvBPs98LuIIyA==">
        <label class="form-label" for="user_full_name">Full name</label> <br>
        <input class="form-input" type="text" name="user[full_name]" id="user_full_name"> <br>
    
        <label class="form-label" for="user_username">Username</label> <br>
        <input class="form-input" type="text" name="user[username]" id="user_username"> <br>

        <label class="form-label" for="user_photo">Photo</label> <br>
        <input accept="image/jpeg,image/gif,image/png" type="file" name="user[photo]" id="user_photo"> <br>

        <label class="form-label" for="user_cover_image">Cover image</label> <br>
        <input accept="image/jpeg,image/gif,image/png" type="file" name="user[cover_image]" id="user_cover_image"> <br>
    
        <input type="submit" name="commit" value="Sign up" class="form-btn" data-disable-with="Sign up">
</form>      <a class="login-btn form-btn" href="/">Login</a>
    </div>
  </div>
</div>

