
<aside class="left-bar">
  <div class="user-img">
      <img alt="maosan" class="avatar" >
  </div>
  <div class="user-fullname">maosan</div>
  <div class="user-stats">
    <div>
      <p class="stat-num">0</p>
      <p>Following</p>
    </div>
    <div>
      <p class="stat-num">0</p>
      <p>Followers</p>
    </div>
  </div>
  <a class="left-bar-active" href="/opinions">
    <i class="fa fa-home"></i>
    <div class="profile-link">Home</div>
</a>  <a class="" href="#">
    <i class="fa fa-user"></i>
    <div class="profile-link">Profile</div>
</a>  <a class="" href="#">
    <i class="fa fa-hashtag"></i>
    <div class="profile-link">Discover</div>
</a>  <a class="" href="#">
    <i class="fa fa-cog"></i>
    <div class="profile-link">Settings</div>
</a>
</aside>