<aside class="profile">
  <p class="who-to-follow">Who to follow</p>
  <a class="user-follow-link" href="#">
    <div class="user-follow">
      <div class="user-follow-img" style="height: 40px; width: 40px, border: 1px solid blue, background-color: blue">
        <img alt="avatar image" class="avatar">
      </div>
      <div class="user-follow-text">
        <div class="user-follow-fullname">Full Name</div>
        <div class="user-follow-username">username</div>
      </div>
    </div>
  </a>
</aside>