<aside class="profile">
  <p class="who-to-follow">Who to follow</p>
  <%= @who.each do |user| %>
    <%= link_to user_path(user.id), class: 'user-follow-link' do %>
    <div class="user-follow">
      <div class="user-follow-img">
        <img alt="avatar image" class="avatar">
      </div>
      <div class="user-follow-text">
        <div class="user-follow-fullname"><%= user.fullname %></div>
        <div class="user-follow-username"><%= user.username %></div>
      </div>
    </div>
    <% end %>
  <% end %>
  
</aside>
